.richlist {
  color: rgb(3 255 146);
  margin: 5rem 2rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr 1fr;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.75rem 0.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: monospace;
  border: 1px solid rgb(255, 255, 255, 0.25);
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.25);
  margin-top: 90px;
}

.richlist_data {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr 1fr;
  margin: 1rem 2rem;
  text-align: center;
  padding: 0.75rem 0.25rem;
  letter-spacing: 2px;
  font-size: 0.8rem;
  border: 1px solid rgba(66, 151, 207, 0.25);
  box-shadow: 2px 2px 5px rgba(66, 151, 207, 0.25);
}

.richlist_data span a {
  color: white;
  text-decoration: none;
}

#filter {
  border: 1px solid rgb(74, 152, 182);
  border-left: none;
  border-bottom: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  /* margin: 5px; */
  /* padding: 5px; */
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55px;
  right: 20px;
  font-weight: lighter;
}

#filter div{
  padding: 0px 5px;
  margin: 0px 5px;
  font-size: large;
}

#filter div input {
 cursor: pointer;
}