.dao_note {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  width: 80%;
  margin: auto;
  padding: 1rem;
  border-radius: 8px;
  line-height: 1.8rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1rem;
}

.dao_heading {
  color: rgba(47, 200, 55, 0.467);
  margin-top: 5rem;
  text-align: center;
  font-size: 1.8rem;
  text-decoration: double underline;
}

.dao_proposal_items {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(63, 255, 127, 0.1);
  width: 100%;
  margin: auto;
  padding: 1rem;
  border-radius: 8px;
  line-height: 1.8rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1rem;
}

.dao_proposals {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: column;
  margin-bottom: 5rem;
}

.proposal_title {
  color: goldenrod;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.proposal_descreption {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.25);
}

.vote_btn {
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  padding: 0.75rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border-radius: 12px;
  display: block;
  margin: 0.75rem auto;
}

.proposal_options {
  /* width: 80%; */
  display: flex;
  flex-direction: column;
}

.proposal_options span {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 95%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 12px;
  background-color: transparent;
  color: white;
  text-align: center;
}


.proposal_time{
    display: flex;
    justify-content:space-between;
    color: greenyellow;
    font-size: 1.1rem;
    letter-spacing: 2px;
}