.login_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  z-index: 5;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
}

.login_wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.cw,
.aw {
  background: linear-gradient(90deg, #2c3e50 0%, #4ca1af 100%);
  padding: 1rem;
  width: 11rem;
  border-radius: 6px;
  border: none;
  color: white;
  font-weight: 500;
  margin: 0rem auto;
  margin-top: 1rem;
  cursor: pointer;
  border: 1px solid white;
}

button:hover {
  opacity: 0.5;
}

.login_box h2 {
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.login_close {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  /* font-weight: 500; */
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.7rem;
  height: 1.7rem;
}

.login_close:hover {
  opacity: 0.5;
  background: #ffffff;
  color: black;
}
